# Environment Variables Template
# Copy this file to .env and fill in your actual API keys
# Google Gemini API Keys (Add 1–10 keys for load balancing)
#if you don't have multiple gemini key just copy one key in all. but my recommendation is used atleast two different key for fallback mechanism to work properly
gemini_api_1=AIzaSyBDlUgRuPQB13u0VLsTcfItMYLWV5pNHBo
gemini_api_2=AIzaSyDtwkSnylIVIZ5Ap-vsWEUHCGNvGqBUQu8
gemini_api_3=AIzaSyBQUp3ffFc0OD36-DvQ4-K7x2VSmS4KRd0
gemini_api_4=AIzaSyBQUp3ffFc0OD36-DvQ4-K7x2VSmS4KRd0
gemini_api_5=AIzaSyBQUp3ffFc0OD36-DvQ4-K7x2VSmS4KRd0
gemini_api_6=AIzaSyBQUp3ffFc0OD36-DvQ4-K7x2VSmS4KRd0
gemini_api_7=AIzaSyBQUp3ffFc0OD36-DvQ4-K7x2VSmS4KRd0
gemini_api_8=AIzaSyBQUp3ffFc0OD36-DvQ4-K7x2VSmS4KRd0
gemini_api_9=AIzaSyBQUp3ffFc0OD36-DvQ4-K7x2VSmS4KRd0
gemini_api_10=AIzaSyBQUp3ffFc0OD36-DvQ4-K7x2VSmS4KRd0
LLM_TIMEOUT_SECONDS=240
